body {
    background-color: #e6e6e6;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  #container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 500px;
  }
  
  h1 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  #form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
  input[type="text"] {
    padding: 10px;
    font-size: 18px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    padding: 10px 20px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
  }
  
  #weather-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  #loading {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  #weather-data {
    font-size: 18px;
  }
  